# Database Configuration
DATABASE_URL="mysql://root:@localhost:3306/hak_db"

# Pinecone Vector Database
PINECONE_API_KEY=""
PINECONE_INDEX="hak-brain"

# NextAuth Authentication Secret
NEXTAUTH_SECRET=""

# Master Encryption Key for E2EE Vault (MUST be exactly 32 Bytes/Chars)
ENCRYPTION_KEY=""

# Gemini / Google AI Studio Key
GEMINI_API_KEY=""
